﻿
@{
    ViewData["Title"] = "Change Password";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <form id="registerForm" method="post" action="ChangePassword">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="" required>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="" required>
        </div>

        <div class="form-group">
            <label for="password">Old Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="" required>
        </div>

        <div class="form-group">
            <label for="password_confirm">New Password</label>
            <input class="form-control" type="password" id="password_confirm" name="new_password" placeholder="" required>
        </div>
        <button id="registerSubmit" type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>

