﻿
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <div class="container">
            <form class="text-center border border-light p-5" action="">

                <p class="h4 mb-4">Login</p>

                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                <div class="d-flex justify-content-around">
                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <a href="/Identity/Account/ForgotPassword">Forgot password?</a>
                    </div>
                </div>
                <button class="btn btn-info btn-block my-4" type="submit">Login</button>
                <p>
                    No account exists?
                    <a href="/Identity/Account/Register?returnUrl=%2F">Register</a>
                </p>
            </form>
        </div>
</body>
</html>

