﻿@{
    ViewData["Title"] = "Validate User";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <form id="registerForm" method="post" action="ValidateUser">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="" required>
        </div>
        <button id="registerSubmit" type="submit" class="btn btn-primary">Validate User</button>
    </form>
</div>
